
          <mat-accordion>
     
        <mat-expansion-panel *ngFor="let us of User$"> 
             <mat-expansion-panel-header>
      <mat-panel-title>
              {{us.name}}
            </mat-panel-title>

</mat-expansion-panel-header>
<mat-panel-title >
    
   email:      {{us. email}}
      </mat-panel-title>
      <mat-panel-title>
    
            username:     {{us. username}}
               </mat-panel-title
               ><button mat-raised-button color="primary" (click)="addbutton(us.id,us.email)" >crete account</button>
</mat-expansion-panel>

      </mat-accordion>

