<div *ngIf = "!(articles$ | async)">Loading...</div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let article of articles$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{article.selected}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
          {{article.article}} 
    </mat-expansion-panel>
</mat-accordion>