

    <mat-card>
      <h1>Login</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
          <mat-form-field>
              <input 
                  matInput placeholder="email"
                  [(ngModel)] = "email"
                  name = "email">
          </mat-form-field> 
          <br>
          <mat-form-field>
                  <input type="password"
                      matInput placeholder="strong password"
                      [(ngModel)] = "password"
                      name = "password">
          </mat-form-field>                   
          <div >
              <button mat-raised-button color="primary" 
                      [disabled]="!loginForm.form.valid">
                       Login
              </button>
              <h2>{{errorMessage}}</h2>
          </div>
        </div>
      </form>
      </mat-card>
    