<div class="example-button-row">
        <button 
           mat-raised-button color="primary"
           [routerLink]="'/todoF'">
           Add todo
        </button>
      </div>
      <p *ngIf="!(todos$ | async)">loading books...</p>
      <mat-accordion >
          <mat-expansion-panel *ngFor = "let todo of todos$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{todo.title}}
              </mat-panel-title>
            </mat-expansion-panel-header> 
      
              <button 
              mat-raised-button color="primary"
              (click)="actionMethod($event)" >
                Done
              </button>        
          </mat-expansion-panel>
        </mat-accordion>
      
      